/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
  padding: 25px;
  border-radius: 10px;
}

header ul:nth-child(3) {
  width: 50%;
  transform: translate(100%, -40px);
}

header .fas {
  font-size: 22px;
}

main {
  padding: 20px;
}

footer {
  padding: 15px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  transform: translateX(10%);
}

table {
  margin: 20px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.books img {
  margin-bottom: 24px;
}

i + i {
  margin-left: 10px;
}

#addBook {
  margin-top: 20px;
}

#addBtn {
  transform: translateY(-2.5px);
}

.formsContainer {
  display: flex;
  justify-content: space-around;
}

#deleteAccount {
  position: absolute;
  transform: translateX(300px);
}

.signupBtn {
  transform: translateY(40px);
}

.signupBtn a {
  color: inherit;
}

.signupBtn a:hover {
  text-decoration: none;
  color: inherit;
}


.fa {
  height: 25px;
  padding: 4px;
  cursor: pointer;
  transform: translateX(-20px);
  color: white;
}

.fa:hover {
  background: green;
}

.fa-exchange-alt {
  transform: translateX(-24px);
}