<!DOCTYPE html>
<html>
	<% include ../partials/head  %>
	<body>
		<% include ../partials/header %>
		
		<% if (message) { %>
			<p><%= message %></p>
		<% } %>
		<div class="books"></div>
	    
	    <% include ../partials/controllers %>
	    <script type="text/javascript" src="common/actions.js"></script>
	</body>
</html>