<!DOCTYPE html>
<html>
	<% include ../partials/head  %>
	<body>
		<% include ../partials/header %>
		
		<div class="books">
		    
		</div>
	    
	    <% include ../partials/controllers %>
	    <script type="text/javascript" src="common/actions.js"></script>
	</body>
</html>