<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head  %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		
		<div class="books">
		    
		</div>
	    
	    <script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>
		<script type="text/javascript" src="controllers/booksController.client.js"></script>
	</body>
</html>