<!DOCTYPE html>
<html>
	<% include ../partials/head  %>
	<body>
		<% include ../partials/header %>
		<main class="container">
			
			<h1 class="text-center">Book trading club</h1>
			<h3>Features:</h3>
			<h5>View all added books</h5>
			<h5>Add your book</h5>
			<h5>Request to borrow any book</h5>
			<h5>Change settings of your account</h5>
			
		</main>
		<footer class="container bg-light">
			<ul class="nav justify-content-center">
	            <li class="nav-item">
	                <a class="nav-link" href="https://github.com/mikhailsinyakov/book-trading-club">Github</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="https://www.freecodecamp.org/mikhailsinyakov">FreeCodeCamp</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="https://aws.amazon.com/cloud9">Cloud 9</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="https://getbootstrap.com">Bootstrap</a>
	            </li>
	            <li class="nav-item">
	                <a class="nav-link" href="https://www.goodreads.com/api">GoodReads API</a>
	            </li>
	        </ul>
		</footer>
		<% include ../partials/controllers %>
	</body>
</html>