<!DOCTYPE html>
<html>
	<% include ../partials/head  %>
	<body>
		<% include ../partials/header %>
		
		<main class="container">
			<% if (message[0]) { %>
				<div class="alert alert-primary"><%= message %></div>
			<% } %>
			<form id="login" action="/login" method="post">
				<label>
					Email:
					<input class="form-control" type="email" name="email"
						autocomplete="email" placeholder="Email" required/>
				</label></br>
				<label>
					Password:
					<input class="form-control" type="password" name="password"
						autocomplete="current-password" placeholder="Password"
						required/>
				</label></br>
				<button class="btn" type="submit">Log in</button>
			</form>
			<button class="btn signupBtn">
				<a href="/signup">Sign up</a>
			</button>
		</main>
		
		<% include ../partials/controllers %>
		<script type="text/javascript" src="common/handlePassword.js"></script>
	</body>
</html>