<!DOCTYPE html>
<html>
	<% include ../partials/head  %>
	<body>
		<% include ../partials/header %>
		
		<form id="addBook" action="/api/addBook" method="POST">
		    <input type="email" name="email" autocomplete="email" value=<%= user.email %> required style="display:none"/>
		    <input type="text" name="bookName" required/>
		    <button type="submit">Add</button>
		</form>
		
		<div class="books">
		    
		</div>
	
		<script type="text/javascript" src="common/ajax-functions.js"></script>
		<script type="text/javascript" src="controllers/userController.client.js"></script>
		<script type="text/javascript" src="controllers/booksController.client.js"></script>
	</body>
</html>