<!DOCTYPE html>
<html>
	<% include ../partials/head  %>
	<body>
		<% include ../partials/header %>
		
		<main class="container">
			<h1>My books:</h1>
			<button type="button" class="btn toggleRequests yours">
				Your trade requests (<span class="yours"></span>)
			</button>
			<button type="button" class="btn toggleRequests forYou">
				Trade requests for you (<span class="forYou"></span>)
			</button>
			
			
			<form id="addBook" action="/api/addBook" method="POST">
			    <input type="email" name="email" autocomplete="email" value=<%= user.email %> required style="display:none"/>
			    <input type="text" name="bookName" required/>
			    <button id="addBtn" class="btn btn-primary btn-sm" type="submit">Add</button>
			</form>
			
			<% if (message[0]) { %>
				<div class="alert alert-primary"><%= message %></div>
			<% } %>
			
			<div class="books"></div>
		</main>
		
		<% include ../partials/controllers %>
	    <script type="text/javascript" src="common/actions.js"></script>
	</body>
</html>