<!DOCTYPE html>
<html>
	<% include ../partials/head  %>
	<body>
		<% include ../partials/header %>
		
		<main class="container">
			<% if (message[0]) { %>
				<div class="alert alert-primary"><%= message %></div>
			<% } %>
			<form id="signup" action="/signup" method="post">
				<label>
					First name:
					<input class="form-control" type="text" name="firstName"
						autocomplete="name" placeholder="Name" required/>
				</label></br>
				<label>
					Email:
					<input class="form-control" type="email" name="email"
						autocomplete="email" placeholder="Email" required/>
				</label></br>
				<label>
					Password:
					<input class="form-control" type="password" name="password"
						autocomplete="new-password" placeholder="Password" required/>
				</label></br>
				<button class="btn" type="submit">Sign up</button>
			</form>
			
		</main>
		
		<% include ../partials/controllers %>
		<script type="text/javascript" src="common/handlePassword.js"></script>
	</body>
</html>